/* http://site4business.net/css/kak-podklyuchit-shrift.html */
/* https://nicothin.pro/page/web-fonts */
/* http://css.yoksel.ru/opentype-variable-fonts/ */
@font-face {
	font-family: "Gingham";

	src: url('Gingham/Gingham.ttf') format('truetype-variations'),
		url('Gingham/Gingham.ttf') format("truetype"),
		url("Gingham/Gingham.woff") format("woff"),
		url('Gingham/Gingham.woff2') format('woff2-variations'),
		url('Gingham/Gingham.woff2') format("woff2");

	font-weight: normal;

	font-style: normal;
}

*{
    font-family: Gingham;
}

#container{
	/* font-variation-settings: 'wdth' 0; */
}