div{
    width: 180px;
    height: 120px;
    border: 1px #efefef solid;
    background-image: linear-gradient(145deg, #0054b9 0% 35%, transparent 35% 40%, #ffdb4d 40% 60%, transparent 60% 65%, #f00 65% 100%, #fff);
    position: relative;
}